*.bsc
*.dgml
*.lastbuildstate
*.tlog
*.idb
*.jpg
*.mp4
*.txt
*.opensdf
*.sdf
*.sln
*.vcxproj
*.filters
*.avi
ASM3dOK.exe
ASM3dOK.ilk
ASM3dOK.pdb
Debug/ASM3dOK.Build.CppClean.log
Debug/asm.obj
Debug/asm.sbr
Debug/classicdesc.obj
Debug/classicdesc.sbr
Debug/convshape.obj
Debug/convshape.sbr
Debug/err.obj
Debug/err.sbr
Debug/eyedet.obj
Debug/eyedet.sbr
Debug/eyedist.obj
Debug/eyedist.sbr
Debug/facedet.obj
Debug/facedet.sbr
Debug/faceroi.obj
Debug/faceroi.sbr
Debug/hat.obj
Debug/hat.sbr
Debug/hatdesc.obj
Debug/hatdesc.sbr
Debug/initasm.obj
Debug/initasm.sbr
Debug/landmarks.obj
Debug/landmarks.sbr
Debug/main.obj
Debug/main.sbr
Debug/minimal.log
Debug/misc.obj
Debug/misc.sbr
Debug/pinstart.obj
Debug/pinstart.sbr
Debug/print.obj
Debug/print.sbr
Debug/shape17.obj
Debug/shape17.sbr
Debug/shapehacks.obj
Debug/shapehacks.sbr
Debug/shapemod.obj
Debug/shapemod.sbr
Debug/startshape.obj
Debug/startshape.sbr
Debug/stasm.obj
Debug/stasm.sbr
Debug/stasm_lib.obj
Debug/stasm_lib.sbr
Debug/vc120.pdb
minimal.v12.suo
